---
---

@import "{{ site.theme }}";

img{
  border-style: none;
  box-shadow: 0px 0px 0px;
  border-radius:5px;
}

.main_img{
  float:right;
  width:40%;
}

#screen_right{
  height:35%;
  width:35%;
  float:right;
  margin-right:10%;
  margin-bottom:50px;
}


#screen_left{
  height:35%;
  width:35%;
  float:left;
  margin-left:10%;
  margin-bottom:50px;
}
